@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cabañas!!!!!!!!!!!!!!</h1>
    @foreach(Cabana cabana in ViewBag.complejo.getCabanas().Values){
        <p>@cabana.getNombre()</p>
        <p>@cabana.getDescripcion()</p>
        <a href='@Url.Action("selectCabana", "Home", new {ID = cabana.getID()})'>Mas informacion</a>
    }
</div>

